*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

body {
    background-color: #C0B7B1;
}


/* Header styles*/

.header {
    height: 95px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header #logo {
    width: 50px;
    height: 90px;
    margin-left: 10%;
    padding-top: 3px ;
    cursor: pointer;

}

.header #logo img {
    transition: transform 0.5s ease;
}

.header #logo img:hover {
    transform: scale(1.2);
}

.header .nav-bar {
    margin-right: 10%;

}

.header .nav-bar ul {
    display: flex;
    flex-wrap: wrap;

}

.header .nav-bar ul li {
    margin-right: 10px;
    padding-right: 15px;
}

.header .nav-bar ul li a {
    text-decoration: none;
    color: white;

}


.header .nav-bar li:hover {
    transform: scale(1.1);
}

/* Toggle button styles */

.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    display: flex;
    align-items: center;
    cursor:pointer;
    display: none;
}

#check {
    display: none;
}

/* Estilos para responsive del nav-bar */

@media only screen and  (max-width: 740px) {
    .checkbtn {
        display: block;
    }

    .header .nav-bar {
        text-align: center;
    }

    ul {
        position: fixed;
        width: 50vh;
        height: 100vh;
        background-color: gray;
        top: 95px;
        left: -200%;
        text-align: center;
        transition: all 0.5s ;
        display: block;
        z-index: 1;
    }

    ul li {
        margin-top: 40px;
        margin-left: 30px;
    }



    .header .nav-bar li {
        display: block;
    
    }

    li a:hover, li a.active {
        background: none;
    }

    #check:checked ~ ul {
        left: 0%;
        width: 100%;
        flex-direction: column ;
        
    }

    #check:checked ~ul li {
        display: block;
    }
}  


#img-me {
    display: flex;
    position: absolute;
    width: 300px; 
    height: 350     px; 
    border: 4px solid #000000; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    top: 30%;
    left: 200px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

#img-me:hover {
    transform: scale(1.1);
}


#img-me img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1100px) {
    
    
}

#about-me {
    display: flex;
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 300px;
    top: 30%;
    left: 60%;
    text-align: right;
    overflow: hidden;
}

#about-me h1 {
    font-size: 50px;
}

@media only screen and (max-width:938px) {
    #img-me {
        top: 100%;
        left: 7%;
        right: 50%;
    }

    #img-me:hover {
        transform: none;

    }

    #about-me{
        top: 160px;
        left: 10%;
        right: 50%;
        z-index: 0;
    }
    
}

#stack  {
    display: grid;
    position: absolute;
    height: 600px;
    width: 100%;
    top: 90%;
    background-color: #000000;
    overflow: hidden;
}

#stack h2 {
    text-align: left;
    position: absolute;
    width: 200px;
    height: 60px;
    margin-top: 230px;
    margin-left: 150px;
    color:white;
    font-size: 45px;

}

#icons {
    position: absolute;
    margin-top: 150px;
    margin-left: 550px;
    width: 600px;
    height: 300px;
    background-color: transparent;
    border-radius: 10px; 
    box-shadow: 0 0 15px white  ;
}








